.create-blog {
    max-width: 800px;
    margin: 100px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, .1);
    padding: 30px;
}

.create-blog .create-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #5543ca;
}

.create-form .form-field {
    position: relative;
    margin: 32px 0;
}

.create-form .input-text {
    display: block;
    background-color: transparent;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #313131;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.create-form .form-field #description {
    resize: none;
    height: 300px;
}



.create-form .input-text:focus {
    outline: none;
}



.create-form .create-submit-btn {
    display: inline-block;
    background-color: #1c1c1c;
    color: #f3f3f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}