.full-page-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    overflow: hidden;
}

.full-page-overlay::before {
    content: '';
    position: absolute; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
    overflow: hidden;

}

.details-container {
    overflow-y: scroll;
    max-height: 700px;
}

.details-container::-webkit-scrollbar {
    width: 0px
}

.details-col {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: #f3f3f3;
}

#progress-bar {
    margin-top: 60px;
    height: 6px;
    background-color: #5543ca; 
    --progress: 0;
    width: var(--progress);
    position: absolute;
}

.btn-blogs {
    margin-top: 50px;
    background-color: #5543ca;
}

.bg-comment-section,
.bg-review-section {
    background-color: #1c1c1c;
    color: #f3f3f3;
    text-align: left;
}

#offcanvasNavbarComments,
#offcanvasNavbarReviews {
    width: 50%;
}

.details-forms {
    resize: none;
    background-color: transparent;
    color: #f3f3f3;
}

.details-forms:focus {
    background-color: transparent;
    color: #f3f3f3;
}

.details-forms::placeholder {
    color: #f3f3f3;
}


.details-container {
    margin-top: 5rem;
    position: relative;
}

.popup-sections {
    margin-top: 2rem;
    text-align: center;
}

.bg-comment-section,
.bg-review-section {
    font-size: 20px;
}


.time-posted {
    font-size: 15px;
    color: #9e9e9e;
    flex: 1;
    text-align: left;
}

.time-posted-review {
    margin-top: -15px;
    font-size: 15px;
    color: #9e9e9e;
    flex: 1;
    text-align: left;
}

.comment-description {
    border-bottom: 1px solid #f3f3f33f;
    padding-bottom: 20px;
}

.comment-actions {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;    
}

.comment-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.d-flex.justify-content-between .username {
    flex: 1;
    text-align: left;
}

.popup-sections button {
    margin: .5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: #f3f3f3;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-sections .show-btn {
    background-color: #5543ca;
}

.popup-sections button:hover {
    background-color: #262626;
}

.popup-sections .btn-submit {
    background-color: #5543ca;
}


.bx-trash {
    color: #fd7d7d;
    font-size: 15px;
}

.popup-sections .btn-comments {
    margin-top: -20px;
}

.popup-sections .btn-reviews {
    margin-top: -15px;
}

@media (max-width: 991px) {
   
    .details-col  {
        font-size: 15px;
     }

     .details-container {
        margin-top: 130px;
        max-height: 550px;
    }

    #progress-bar {
        height: 2px;  
    }
    

    .details-col .lead {
       font-size: 14px;
       text-align: justify;
    }

    .popup-sections button {
        margin: 0.5rem;
        font-size: 12px;
        text-align: center;
    }

    .bg-comment-section,
    .bg-review-section {
        font-size: 14px;
    }

    
    .time-posted {
        font-size: 12px;
    }
    

    #offcanvasNavbarComments,
    #offcanvasNavbarReviews {
        width: 100%;
    }

    .popup-sections .btn-comments {
        margin-top: -20px;
    }

    .popup-sections .btn-reviews {
        margin-top: -15px;
    }

    .percentage-indicator {
        font-size: 14px;

    }
}

.user-review {
    border-bottom: 1px solid #f3f3f33f;
    padding-bottom: 20px;
}

.rating {
    display: inline-block;
    direction: rtl;
    font-size: 2rem;
    unicode-bidi: bidi-override;
    color: #5543ca;
}

.rating>label {
    display: inline-block;
    position: relative;
    width: 1.1em;
    color: #f3f3f3;
    cursor: pointer;
}

.rating>label::before {
    content: "★";
    position: absolute;
    opacity: 0.3;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input:checked~label {
    opacity: 1;
    color: #5543ca;
}

.rating>input {
    position: absolute;
    left: -9999px;
}
