.full-page-overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
}

.full-page-overlay::before {
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}

.details-container {
    max-height: 800px;
    overflow-y: auto; 
}

.details-container::-webkit-scrollbar {
    width: 0px
}

.details-col {
    padding: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: #f3f3f3;
}
.btn-blogs {
    margin-top: 50px;
    background-color: #5543ca;
}

.bg-comment-section,
.bg-review-section {
    background-color: #1c1c1c;
    color: #f3f3f3;
    text-align: left;
}

.details-forms {
    resize: none;
    background-color: transparent;
    color: #f3f3f3;
}

.details-forms:focus {
    background-color: transparent;
    color: #f3f3f3;
}

.details-forms::placeholder {
    color: #f3f3f3;
}


.details-container {
    margin-top: 5rem;
    position: relative;
}

.popup-sections {
    margin-top: 2rem;
    text-align: center;
    
}

.popup-sections button {
    margin: .5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: rgb(209, 115, 115);
    color: #f3f3f3;
    cursor: pointer;
    transition: background-color 0.3s ease;
}


.popup-sections .show-btn {
    background-color: #5543ca;
}

.popup-sections button:hover {
    background-color: #262626;
}

.popup-sections .btn-submit {
    background-color: #5543ca;
}


.bx-trash {
    color: #f3f3f3;
    font-size: 15px;
}

.bx-trash:hover {
    color: rgb(209, 115, 115)
}


@media (max-width: 991px) {
    .full-page-overlay {
        margin-top: -35px;
    }
    .details-col  {
        font-size: 15px;
     }

    .details-col .lead {
       font-size: 14px;
       text-align: justify;
    }

    .popup-sections button {
        margin: 0.5rem;
        font-size: 12px;
        text-align: center;
    }

    .bg-comment-section,
    .bg-review-section {
        font-size: 14px;
    }

    .percentage-indicator {
        font-size: 14px;

    }
}

.rating {
    display: inline-block;
    direction: rtl;
    font-size: 2rem;
    unicode-bidi: bidi-override;
}

.rating>label {
    display: inline-block;
    position: relative;
    width: 1.1em;
    cursor: pointer;
}

.rating>label::before {
    content: "★";
    position: absolute;
    opacity: 0.3;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input:checked~label {
    opacity: 1;
    color: gold;
}

.rating>input {
    position: absolute;
    left: -9999px;
}
