.navbar-logo img {
    height: auto;
    margin-top: 15px;
    max-height: 100px;
}

.navbar-logo span {
    font-family: "Poppins";
}

.sidebar {
    background: rgba(85, 67, 202, 0.29);
    /* box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); */
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.navbar-toggler-icon {
    margin-top: -30px;
}

.navbar {
    background-color: #a5a5a5;
    height: 60px; 
    display: flex;
    align-items: center;

}

@media (max-width: 991px) {
    .navbar-logo img {
        margin-top: -15px;
        max-height: 80px;

    }
}