.navbar-logo {
    font-family: 'Dream';
}

.navbar-logo span {
    font-family: "Montserrat", sans-serif;
    color: #622FC8;
}

.sidebar {
    background: rgba(85, 67, 202, 0.29);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}

.navbar {
    background-color: #a5a5a5;
}

@media (max-width: 991px) {}