@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@font-face {
    font-family: 'Dream';
    src: url('/src/fonts/FontsFree-Net-Dream-Avenue.ttf') format('woff2'),
}

.navbar-logo {
    font-family: 'Dream';
}

.navbar-logo span {
    font-family: "Montserrat", sans-serif;
    color: #622FC8;
}

#toggleButton {}

.rating {
    display: inline-block;
    direction: rtl;
    font-size: 2rem;
    unicode-bidi: bidi-override;
}

.rating>label {
    display: inline-block;
    position: relative;
    width: 1.1em;
    cursor: pointer;
}

.rating>label::before {
    content: "★";
    position: absolute;
    opacity: 0.3;
}

.rating>label:hover,
.rating>label:hover~label,
.rating>input:checked~label {
    opacity: 1;
    color: gold;
}

.rating>input {
    position: absolute;
    left: -9999px;
}

body {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    font-family: 'Poppins', sans-serif;
    position: relative;

}

#background-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    z-index: -1;
    transition: background-image 1s ease-in-out;
}

#background-layer::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
    backdrop-filter: blur(10px);
}


#transition-layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    transition: opacity .8s ease-in-out;
    z-index: -1;
}

header,
main {
    position: relative;
}

@media (max-width: 991px) {
    .sidebar {
        background-color: rgba(255, 255, 255, 0.15);
        backdrop-filter: blur(10px);
    }
}

.sidebar {
    background-color: #1c1c1c;
    backdrop-filter: blur(20px);
}

.navbar {
    background-color: #a5a5a5
}



/* register */
.bg-forms {
    background-size: cover;
    background-position: center;
}

.bg-forms {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    background-size: cover;
    background-position: center;
}

.bg-forms::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
    backdrop-filter: blur(10px);
}

.bg-forms h3 {
    font-size: 50px;
    color: #fff;
}

.bg-forms h3 {
    font-size: 50px;
    color: #fff;
}

.btn {
    font-size: .8rem;
    font-weight: 700;
}

.btn i {
    vertical-align: text-top;
}

.divider-content-center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: .5rem;
    padding-right: .5rem;
    background-color: transparent;
    font-size: .8rem;
    font-weight: 500;
    color: #f3f3f3;
}

.divider {
    margin: 2rem 0;
}

.btn-outline-custom {
    color: #313131;
    border-color: #fff;
}

.btn-outline-custom:hover {
    color: #313131;
    border-color: #eee;
    background-color: #eee;
}

.register-btn {
    background-color: #622FC8;
    color: #f3f3f3;
}


.register-btn:hover {
    background-color: #8352e6;
    color: #f3f3f3;
}

/* Home */

.home .carousel-item {
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

.home .carousel-item::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .3);
    z-index: -1;
}

.home .carousel-item .container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}


.home .carousel-item h2 {
    font-size: 80px;
    color: #fff;
    margin: 0 0 10px;
    opacity: 0;
}

.home .carousel-item p {
    font-size: 30px;
    margin: 0;
    color: #eee;
    opacity: 0;
}


.home .container .nav-link {
    color: #622FC8;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 1.5rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border: 2px solid #622FC8;
    border-radius: 100px;
    transition: background-color 0.3s, color 0.3s;
}

.carousel-item .container .nav-link:hover {
    background-color: #622FC8;
    color: white;
}

.carousel-item .container-quote {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.quote-text {
    max-width: 50%;
    text-align: right;
}

.quote-author {
    max-width: 40%;
    font-size: 1.5em;
    text-align: left;
}

/* CSS */
.social {
    display: inline-block;
    margin: 0;
    padding: 0;
}

.social a {
    color: inherit;
    text-decoration: none;
}

.social i {
    font-size: 2.5em;
    color: #622FC8;
    transition: color 0.3s, transform 0.3s;
}

.social a:hover i,
.social a:focus i {
    color: #C13584;
    transform: scale(1.1);
}


.home .carousel-item .title .title-treat {
    color: #622FC8;
}


.home .carousel-item.active h2 {
    animation: fadeInLeft .5s ease forwards;
}

.home .carousel-item.active p {
    animation: fadeInRight .5s ease forwards;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(30px);
    }

    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.home .carousel-controls {
    position: absolute;
    left: 50%;
    bottom: 40px;
    z-index: 10;
    transform: translateX(-50%);
}

.home .carousel-indicators {
    position: relative;
    margin: 0;
}

.home .carousel-indicators button {
    height: 70px;
    width: 70px;
    margin: 0 5px;
    border-radius: 100%;
    background-position: center;
    background-size: cover;
    border: 3px solid transparent;
    transition: all .3s ease;
}

.home .carousel-indicators button.active {
    border-color: #fff;
    transform: scale(1.2);
}

.home .carousel-control-prev,
.home .carousel-control-next {
    height: 60px;
    width: 60px;
    opacity: 1;
    z-index: 3;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    transition: all .3 ease;
}

.home .carousel-control-prev:hover,
.home .carousel-control-next:hover {
    box-shadow: 0 0 10px #fff;
    transition: all .3 ease-in-out;
}

.home .carousel-control-prev i,
.home .carousel-control-next i {
    width: 30px;
}

.home .carousel-control-next {
    right: -90px;
}

.home .carousel-control-prev {

    left: -90px;
}

@media (max-width: 767px) {

    .home .carousel-control-next,
    .home .carousel-control-prev {
        display: none;
    }

    .home .carousel-indicators button {
        height: 50px;
        width: 50px;
    }

    .home .carousel-item h2 {
        font-size: 50px;
    }

    .home .carousel-item p {
        font-size: 20px;
    }

    .carousel-item .container-quote {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 20px;
    }

    .quote-text {
        max-width: 90%;
        text-align: center;
        font-size: 20px;
    }

    .quote-author {
        max-width: 90%;
        text-align: center;
        font-size: .6em;
        padding-top: 30px;
    }
}

/* blogs */
.all-blogs {
    margin-top: 50px;
    color: #f3f3f3;
}

.wrapper {
    padding: 10px 10%;
}


.card-area {
    padding: 50px 0;
}

.box-area {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    margin-top: 50px;
}

.box {
    width: 450px;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, .5);
}

.box img {
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform .5s;
}

.overlay {
    height: 15%;
    width: 100%;
    background: linear-gradient(transparent, #1c1c1c 58%);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height .5s;
}

.overlay h3 {
    font-weight: 500;
    margin-bottom: 5px;
    margin-top: 50%;
    font-size: 25px;
    color: #fff;
    letter-spacing: 2px;
}

.overlay p {
    color: #fff;
    font-size: 20px;
    margin-top: 20px;
}

.overlay .p-read {
    color: #f3f3f3;
    font-size: 15px;
}

.overlay .p-add {
    color: #ccc;
    font-size: 15px;
    margin-top: 10px;
}

.overlay a {
    margin-top: 10px;
    color: #262626;
    text-decoration: none;
    font-size: 20px;
    background-color: #fff;
    border-radius: 50px;
    padding: 5px 15px;
}

.boxLhover img {
    transform: scale(1.2);
}

.box:hover .overlay {
    height: 100%;
}

@media (max-width: 767px) {
    .box-area {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }

    .box {
        width: 450px;
    }

    .overlay h3 {
        font-size: 20px;
        margin-top: 60%;
    }

    .overlay p {
        font-size: 12px
    }

    .overlay .p-add {
        font-size: 10px;
    }


    .overlay a {
        font-size: 15px
    }
}

/* 404 */
#not-found {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
    color: #343a40;
    padding: 20px;
}

#not-found h1 {
    font-size: 4rem;
    margin-bottom: 20px;
}

#not-found p {
    font-size: 2rem;
    margin-bottom: 20px;
}

#not-found a {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #622FC8;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

#not-found a:hover {
    background-color: #8352e6;
}

@media (max-width: 600px) {
    #not-found h1 {
        font-size: 2rem;
    }

    #not-found p {
        font-size: 1rem;
    }
}

/* Create */

.create-blog {
    max-width: 800px;
    margin: 100px auto;
    position: relative;
    box-shadow: 0 10px 30px 0px rgba(0, 0, 0, .1);
    padding: 30px;
}

.create-blog .create-title {
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    font-size: 3em;
    line-height: 48px;
    padding-bottom: 20px;
    color: #5543ca;
}

.create-form .form-field {
    position: relative;
    margin: 32px 0;
}

.create-form .input-text {
    display: block;
    background-color: transparent;
    width: 100%;
    height: 36px;
    border-width: 0 0 2px 0;
    border-color: #313131;
    font-size: 18px;
    line-height: 26px;
    font-weight: 400;
}

.create-form .form-field #description {
    resize: none;
    height: 300px;
}



.create-form .input-text:focus {
    outline: none;
}



.create-form .create-submit-btn {
    display: inline-block;
    background-color: #1c1c1c;
    color: #f3f3f3;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
    padding: 8px 16px;
    border: none;
    width: 200px;
    cursor: pointer;
}

/* details */
.details-col {
    margin-top: 50px;
    padding: 50px 50px 50px 50px;
    background-color: rgba(0, 0, 0, .1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    color: #f3f3f3;
}
.btn-blogs {
    margin-top: 50px;
    background-color: #5543ca;
}

.bg-comment-section,
.bg-review-section {
    background-color: #1c1c1c;
    color: #f3f3f3;
    text-align: left;
}

.details-forms {
    resize: none;
    background-color: transparent;
    color: #f3f3f3;
}

.details-forms:focus {
    background-color: transparent;
    color: #f3f3f3;
}

.details-forms::placeholder {
    color: #f3f3f3;
}

.btn-reviews,
.btn-comments {

}

.details-container {
    margin-top: 5rem;
    position: relative;
}

.popup-sections {
    margin-top: 2rem;
    text-align: center;
    
}

.popup-sections button {
    margin: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    background-color: #1c1c1c;
    color: #f3f3f3;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.popup-sections button:hover {
    background-color: #262626;
}

@media (max-width: 991px) {
    .details-col  {
        font-size: 15px;
     }
    .details-col .lead {
       font-size: 12px;
       text-align: justify;
    }

    .popup-sections button {
        margin: 0.5rem;
        font-size: 12px;
        text-align: center;
    }

    .bg-comment-section,
.bg-review-section {
    font-size: 12px;
}
}